[
    {
        "name": "${container_name}",
        "image": "${ecr_url}:${container_image}",
        "cpu": ${container_cpu},
        "memory": ${container_memory},
        "portMappings": [
            {
                "containerPort": ${container_port},
                "hostPort": ${container_port},
                "protocol": "tcp"
            }
        ],
        "essential": true,
        "environment": [],
        "mountPoints": [],
        "volumesFrom": [],
        "secrets": [],
        "logConfiguration": {
            "logDriver": "awslogs",
            "options": {
                "awslogs-create-group": "true",
                "awslogs-group": "${aws_cloudwatch_log_group}",
                "awslogs-region": "${region}",
                "awslogs-stream-prefix": "ecs"
            }
        },
        "systemControls": []
    }    
]
